[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
tensorflow = "*"
pillow = "*"
numpy = "*"
scikit-learn = "*"
ipykernel = "*"
jupyter = "*"
opencv-python = "*"
matplotlib = "*"
jupyter-drawing-pad = "*"
pandas = "*"
seaborn = "*"
tqdm = "*"
google-cloud-vision = "*"
google-cloud-language = "*"

[requires]
python_version = "3.7"
